appdirs==1.4.4
asn1crypto==1.4.0
attrs==21.2.0
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
click==8.0.1
colorama==0.4.4
cryptography==3.4.8
distlib==0.3.2
filelock==3.0.12
Flask==2.0.1
idna==3.2
ipaddress==1.0.23
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
more-itertools==8.8.0
packaging==21.0
pact-python==1.4.2
pipenv==2021.5.29
pluggy==1.0.0
psutil==5.8.0
py==1.10.0
pycparser==2.20
pyparsing==2.4.7
pytest==6.2.5
requests==2.26.0
restnavigator==1.0.1
semver==2.13.0
six==1.16.0
Unidecode==1.3.1
uritemplate==3.0.1
urllib3==1.26.6
virtualenv==20.7.2
virtualenv-clone==0.5.6
wcwidth==0.2.5
Werkzeug==2.0.1
